<div class="row login-options">
  <h2 class="large-4 medium-5 small-6 columns">Resend confirmation instructions</h2>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <% if provider == :google_oauth2 %>
        <%= link_to image_tag("google.png", width: '56px', height: '56px'), omniauth_authorize_path(resource_name, provider), class: "small-2 columns" %>
      <% elsif provider == :facebook %>
        <%= link_to image_tag("facebook.png", width: '56px', height: '56px'), omniauth_authorize_path(resource_name, provider), class: "small-2 columns" %>
      <% elsif provider == :twitter %>
        <%= link_to image_tag("twitter.png", width: '56px', height: '56px'), omniauth_authorize_path(resource_name, provider), class: "small-2 columns end" %>
      <% end %>
    <% end -%>
  <% end -%>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
