<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= form_for(@free_parking_area) do |f| %>
      <% if @free_parking_area.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@free_parking_area.errors.count, "error") %> prohibited this free_parking_area from being saved:</h2>

          <ul>
          <% @free_parking_area.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <!-- <script type="text/javascript">
      function getCurrentLocation() {
        debugger;

        var handler = Gmaps.build('Google');
        debugger;

        handler.buildMap({ internal: {id: 'geolocation'} }, function(){
          if(navigator.geolocation)

            navigator.geolocation.getCurrentPosition(displayOnMap);
        });
      };

        function displayOnMap(position){
          var marker = handler.addMarker({
            lat: position.coords.latitude,
            lng: position.coords.longitude
          });
        };
      </script>

      <input id="currentLocation" type="button" value="Current Location" onclick="getCurrentLocation();" /> -->

      <div class="field">
        <%= f.label :address %><br>
        <%= f.text_field :address, value: @touched_area_array ? @touched_area_array[0] : "" %>
      </div>
      <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city, value: @touched_area_array ? @touched_area_array[1] : "Boston" %>
      </div>
      <div class="field">
        <%= f.label :state %><br>
        <%= f.text_field :state, value: @touched_area_array ? @touched_area_array[2].split(" ")[0] : "MA" %>
      </div>
      <div class="field">
        <%= f.label :country %><br>
        <%= f.text_field :country, value: @touched_area_array ? @touched_area_array[3] : "USA" %>
      </div>
      <div class="field">
        <%= f.label "zip code" %><br>
        <%= f.text_field :zip_code, value: @touched_area_array ? @touched_area_array[2].split(" ")[1] : "Boston" %>
      </div>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :parking_type %><br>
        <%= f.select :parking_type, @parking_types %>
      </div>
      <div class="field">
        <%= f.label :description, "Any other details" %><br>
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </body>
</html>
