<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="form-contents">
      <%= form_for([@parking_area, @review]) do |f| %>
        <% if @review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

            <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :rating %><br>
          <%= rating_for @review, 'rating' %>
        </div>
        <div class="field">
          <%= f.label "How's the parking?" %><br>
          <%= f.text_area :content, class: "text-area" %>
        </div>
        <div class="actions">
          <%= f.submit class: "round button"%>
        </div>
      <% end %>
    </div>
  </body>
</html>
