<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Park Easy" %></title>
    <% title %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <section class="top-bar-section row">
        <% if current_user %>
          <h3 id="new" class="small-3 medium-4 large-4 columns"><%= link_to 'New', new_parking_area_path, method: :get, class: "top-bar-text" %></h3>
          <h2 id="park-easy" class="small-5 medium-4 large-4 columns"><%= link_to "Park Easy", parking_areas_path, method: :get, class: "top-bar-text"%></h2>
          <h4 id="sign-out" class="small-4 medium-3 large-2 columns"><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete', class: "top-bar-text user_options" %></h4>
        <% else %>
          <h3 id="new" class="small-3 medium-3 large-4 columns"><%= link_to 'New', new_parking_area_path, method: :get, class: "top-bar-text" %></h3>
          <h2 id="park-easy" class="small-5 medium-4 large-4 columns"><%= link_to "Park Easy", parking_areas_path, method: :get, class: "top-bar-text"%></h2>
          <h4 id="sign-up" class="small-4 medium-4 large-3 columns"><%= link_to 'Sign Up', new_user_registration_path, class: "top-bar-text user_options" %>
          <%= link_to 'Sign In', new_user_session_path, class: "top-bar-text user_options" %></h4>
        <% end %>
      </section>

      <h7><a class="overlay-link top-bar-text" href="#" data-overlay-trigger>Marker Index</a></h7>

        <div class="overlay">
          <div class="modal">
            <div class='row'>
              <img class='overlay-marker small-2 columns' src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|009E3D|000000">
              <h3 class='overlay-text small-10 columns'>Free</h3>
            </div>
            <div class='row'>
              <img class='overlay-marker small-2 columns' src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|0084C6|000000">
              <h3 class='overlay-text small-10 columns'>Metered</h3>
            </div>
            <div class='row'>
              <img class='overlay-marker small-2 columns' src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|F3C300|000000">
              <h3 class='overlay-text small-10 columns'>Two Hour</h3>
            </div>
            <div class='row'>
              <img class='overlay-marker small-2 columns' src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|E00024|000000">
              <h3 class='overlay-text small-10 columns'>Parking Garage</h3>
            </div>
            <div class='row'>
              <img class='overlay-marker small-2 columns' src="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|282826|000000">
              <h3 class='overlay-text small-10 columns'>Other</h3>
            </div>
          </div>
        </div>
    </nav>

    <%- flash.each do |key, value| -%>
      <div class="flash flash-<%= key %> flash-messages">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <%= yield :footer %>
  </body>
</html>
